<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Independentsoft.Webdav" version="1.0.400" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40" requireReinstallation="true" />
  <package id="WebDAV.dll" version="1.0.0.0" targetFramework="net40" />
  <package id="WebDAVSharp.Server" version="1.0.7" targetFramework="net40" />
  <package id="xDav" version="2.0.0" targetFramework="net40" />
</packages>